.container{
    padding:0.571rem 0px 0px 0px;
}
.title_header {
    font-size: 16px;
    white-space: nowrap;
    margin-bottom: 10px;
}

.col-8 {
    padding: 0px;

    h1 {
        margin-bottom: 0px;
    }
}

.card {
    box-shadow: 0 0 10px #ccc;
}